# Mid-term Project

**Project Goal:** 
Predicting Customer Lifetime Value (CLV) for an eCommerce company.

Background: For any marketing professional it is essential to be able to estimate an expected return from a marketing campaign and a customers' total worth to the business. The CLV is a key metric that helps not only to determine an adequat marketing spend, monitoring acquisition costs for new and identify the high-value customers.

**Learning Objectives:**
1. Prepare transaction data for regression, 
2. Engineer features for regression analysis, 
3. Perform and evaluate regression model(s) 
4. Interpreting results and formulate further recommendations for the marketing department

**Predictive Analytics Methods:**
- Simple Linear Regression
- Multivariate Linear Regression

**About the data:**
The used Data set features online retail transactions taken between 2010 and 2011 for a UK-based and registered non-store online retailer. It contains all purchases during an eight month period.

## Importing Data

In [1]:
import pandas as pd 

def load_original_data():
    return pd.read_excel("/Users/Annie/Documents/GitHub/IronAnne/Labs/21_Mid-Term Project/online_retail_II.xlsx")

#retail_df = pd.read_excel("/Users/Annie/Documents/GitHub/IronAnne/Labs/21_Mid-Term Project/online_retail_II.xlsx")

In [2]:
retail_df = load_original_data()

In [4]:
retail_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [5]:
retail_df.shape

(525461, 8)

In [ ]:
combine two sheets to one

## Data Clean-up

Steps:
1. Handling negative data (quantities & prize) 
2. Dropping NaN values 
3. Removing Duplicates 
5. Handling incomplete data 
4. Renaming columns 
5. Splitting columns (invoice date) 
6. Adding new columns (total sales value)

In [ ]:
CustomerID (has several invoices, purchased products)..check unique values

In [ ]:
Countries (EIRE = Ireland, RSA = Republic of South Africa)

In [ ]:
Price (Remove negative values / quantaties)

In [ ]:
Invoice data (1. Dec 2009 - 23. May 2010) + (1. Dec 2010 - 6. Jun 2011)

In [ ]:
Decription (Remove "???" & Numbers, lower cases, check unique values, NaNs)

In [ ]:

"""
def clean_data(df):
    df.columns=[e.lower().replace(' ', '_') for e in df.columns]
    df=df.drop(columns=['unnamed:_0', 'vehicle_type',"customer","number_of_open_complaints"])
    df=df.dropna()
    df=df[df['income']>0]
    df["total_claim_amount"]=round(df["total_claim_amount"],0)
    df["customer_lifetime_value"]=round(df["customer_lifetime_value"],0)
    df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
    df["month"]=list(map(lambda date:date.strftime(format="%B"),df["effective_to_date"]))
    return df"""

## What is CLV?

Explanation, Example, Formular

In [ ]:
## EDA

In [ ]:
## Data Processing & Transformation

In [ ]:
## Feature Engineering

In [ ]:
## Applying Model

In [ ]:
## Evaluating Model

In [ ]:
## Interpreting Results

In [ ]:
## Recommending Actions